.button {
  padding: 15px;
  border-radius: 4px;
  color: color(text, 'white');
  background-color: color(background, 'accent');
  transition: background-color 0.3s;
  @include fontProperties(600, 13, 16);

  &:hover {
    background-color: #348a96;
  }
}

.log-in {
  min-width: 369px;
}

.header-login {
  height: 46px;
  width: 162px;
}

.register {
  height: 46px;
  width: 162px;
}

.save {
  width: 66px;
  height: 34px;
}

.cancel {
  width: 66px;
  height: 34px;
  background-color: #cccccc;
}

.covid-button-show {
  width: 180px;
  height: 45px;
  padding: 0;
}
