@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@import 'base/module';
@import 'utils/module';
@import 'components/module';

body {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  color: $mainColor;
}

#app {
  height: 100%;
  background-color: color(background);
}

.visit-page-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

//.container {
//  position: relative;
//  overflow: hidden;
//  display: flex;
//  flex-direction: column;
//}

.header {
  height: 88px;
  @include flexProperties(normal);
}

.main {
  display: flex;
  height: calc(100vh - 88px);
}
